body {
    background-color:gray; 
    display: flex;
    flex-direction: column;
    width: 600px;
    align-items: center; 
        
}

/*.button {
    width: 100px;
    height: 54px;
    background-color: coral; 
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    font-weight: 900;
    font-size: 20px;
    text-transform: uppercase;
}

.button:active {
    transform: scale(1.2, 1.2)
}

.input{
    height: 50px;
    width: 300px;
    font-family: monospace;
    font-weight: 900;
    font-size: 20px;
}

.block{
    display: flex;
    width: 560px;
    height: 60px;
    align-items: center;
    font-family: monospace;
}

.inputTask{
    display: flex;
    width: 310px;
    height: 60px;
    align-items: center;
    font-family: monospace;
    color: white;
    font-size: 20px;
    padding-left: 6px;
    box-sizing: border-box;
    font-weight: 900;

}

.deleteButton {
    width: 54px;
    height: 54px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    font-weight: 900;
    font-size: 20px;
    text-transform: uppercase;
    background-color: yellow;
} */

.inputTask {
    width: 310px;
    height: 60px;
}

.title {
    
}

.add {
    
}

.block {
    display: flex;
    width: 560px;
    height: 60px;
    align-items: center;
    font-family: monospace;
}